body{
  /*background-image:url("../assets/tablero.svg");
  background-position: fixed;
  background-size: 220px 300px;
  background-repeat: no-repeat;*/

  background-image:url("../assets/fondo.svg");
  background-attachment:fixed;
  background-position: right;
  background-size: 220px 300px;
  background-repeat: no-repeat;
}

.logo_presentacion{
  width: 120px;
}


.fullh
{
  min-height: 100vh;
}
.mt-10
{
  margin-top:100px!important;
}

.pt-3{
  margin-top: 30px;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right!important;
}

.pull-right{
  text-align: right!important;
    float: right;
}

.w100{
  width: 100%!important;
}

.div_puntaje_ronda{
  width: 100%;
  text-align: center;
  background:#295196;
}

.pts_ronda{
  font-size: 42px;
  color:#fff;
  background:#000;
  width: 40%;
  height: 60px;
  border:1px solid #fff;
  text-align: center;
}

.pts_equipo{
  font-size: 42px;
  color:#fff;
  width: 99%;
  border:none;
  text-align: center;
  background: none;
}

.text_ronda{
  font-size: 36px;
  color:#E6E6E6;
}

.indice{
  font-size: 24px;
  font-weight: bold;
  color:#fff;
}

audio{
  display: none;
}

.bg-gray{
  background-image: -webkit-linear-gradient(bottom, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  background-image: -o-linear-gradient(bottom, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  min-height: 350px;
  margin: 0px;
  padding-top: 0px!important;
  padding-bottom: 50px!important;
  padding-right:  50px!important;
  padding-left:  50px!important;

  border-left: dotted 8px orange;
  border-right: dotted 8px orange;
  border-bottom: dotted 8px orange;
}

.teamRed{
  padding: 0px!important;
  margin:0px;
  background: #000;
}
.teamBlue{
  padding: 0px!important;
  margin:0px;
  background: #000;
}

.btn-menu{
  background:#088A68;
  border: none;
  height: 40px;
  width: 40px;
  color:#fff;
  cursor: pointer;
}

.text_pregunta{
  font-weight: bold;
  font-size: 20px;
  color:#D7DF01;
}

.tablero{
  background: #000;
  min-height: 200px;
  color:#fff;
  border:1px solid #fff;
}

.tacha{
  font-size: 58px;
  font-weight: bold;
  color:#8A0808;
  content: ""
}


.respuesta_oculta{
  font-weight: bold;
  width: 100%;
  padding: 5px;
  height: 30px;
  font-size: 24px;
}

.manita{
  cursor: pointer;
  color:#fff!important;
}

.tache_img{
  height: 80px;
  width: 60px;
}

.winner{
  font-size: 80px;
  font-weight: bold;
  color:#fff;
  text-align:center!important;
}
.fondo_ganador
{
  text-align:center!important;
  min-height: 200px;
  background-image:url("../assets/ganador.svg");
  background-attachment:fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.texto_welcome{
  font-size: 60px;
  font-weight: bold;
  color:#fff;
  text-align:center!important;
}
.fondo_bienvenida
{
  text-align:center!important;
  min-height: 200px;
}
.logo_carga{
  height: 100px;
}
.frase{
  color:#fff;
  font-size: 34px;
  font-weight: 100;
}

a[href]{
  font-weight: bold;
}

/*navegador lateral*/
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  overflow-y: scroll;
  padding-top: 20px;
}


.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
  color:#000;
}
.sidenav .closebtn:hover {
  font-weight: bold;
  color:#000;
  font-size: 24px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 20px;}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: none; /* Fallback color */
  background-color: none; /* Black w/ opacity */
  border:none;
}

/* Modal Content */
.modal-content {
  background-color: none;
  margin: auto;
  padding: 20px;
  border: none;
  width: 80%;
}

.tache_img_grande{
  width: 300px;;
}

.text_time{
  color:#fff!important;
  font-size: 28px!important;
}

#question{
  color:#FACC2E;
}
